.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 50px auto 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: gray;
}

button:hover {
  background-color: #0056b3;
}

.message,
.success,
.error {
  text-align: center;
  margin-top: 20px;
  white-space: pre-line;
}

.message {
  color: black;
}

.success {
  color: green;
}

.error {
  color: red;
}

.navbar {
  display: flex;
  justify-content: center; /* Center navbar-left */
  align-items: center;
  position: relative;
  padding: 10px;
  background: #333;
  font-family: Arial, sans-serif;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.navbar li button:hover {
  background-color: #575757;
}

.navbar li button.active {
  border-bottom: 2px solid #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar-right {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-center {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.delete-button {
  margin-top: 2vh;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
